<%- contentFor('body') %><%- include('elements/navbar', {
    nav: {
        "items": [{"title": "Home", "href": "/"}, {"title": "Store", "active": true}, ((user.isAdmin) ? {"title": "Admin", "href": "/admin"} : {})],
        "login": true
    }
    }); %>

<div class="container mt-5 page-content">
    <div class="alert alert-hidden" id="alert" role="alert">
    </div>
    <div class="d-flex justify-content-center  mt-2 bg-light-dark px-1 py-2 bt-round">
        <span >You have <%= user.kudosu.available %> kudosu available.</span>
    </div>
    <div class="bg-dark bb-round px-1 py-2">
            <div class="products">
                <div class="controls">
                    <!-- todo -->
                </div>
                <div class="products-list">
                </div>
            </div>
    </div>
</div>
<script>        
let items = [];
fetch("/api/item", {method: 'GET'}).then((response)=> {return response.text();
}).then( async (json) => {
    fetch("/api/user/<%-user.userId %>", {method: 'GET'}).then((response2)=> {return response2.text();
}).then( async (user) =>{
        let jsonItems = JSON.parse(json);
        let jsonUser = JSON.parse(user);
        items = jsonItems;
        for (item of jsonItems) {
            $(".products-list").append("<div class='product'><div class='product-title'>" + item.title +" </div><div class='product-description'><div><img class='product-image' src='"+ item.image_url +"'> </img></div> <div>Unlock at " + item.price + " kudosu</x div> </div> <div class='product-buy'>" + ((jsonUser.items.find((a) => a.title == item.title) == undefined) ? ("<button class='btn btn-danger button-buy' id='button-buy' onclick='buyItem(\"" + item._id + "\")' data-origin='" + item._id + "'>Unlock</button>") : "<btn class='btn btn-primary disabled'>Already Unlocked</btn> ") +"</div> </div>");
        }
    })
});
const buyItem = (e) =>{
    let productId = e;
    let clickedButton = $("button[data-origin='"+ e +"']");
    let headers = new Headers();
    let hostname = "<%- server.hostname %>";

    let loading = `<svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-repeat" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M2.854 7.146a.5.5 0 0 0-.708 0l-2 2a.5.5 0 1 0 .708.708L2.5 8.207l1.646 1.647a.5.5 0 0 0 .708-.708l-2-2zm13-1a.5.5 0 0 0-.708 0L13.5 7.793l-1.646-1.647a.5.5 0 0 0-.708.708l2 2a.5.5 0 0 0 .708 0l2-2a.5.5 0 0 0 0-.708z"/>
  <path fill-rule="evenodd" d="M8 3a4.995 4.995 0 0 0-4.192 2.273.5.5 0 0 1-.837-.546A6 6 0 0 1 14 8a.5.5 0 0 1-1.001 0 5 5 0 0 0-5-5zM2.5 7.5A.5.5 0 0 1 3 8a5 5 0 0 0 9.192 2.727.5.5 0 1 1 .837.546A6 6 0 0 1 2 8a.5.5 0 0 1 .501-.5z"/>
</svg>`;
    clickedButton.html(loading);
    console.log(productId);
    fetch(`https://${hostname}/api/item/buy/${productId}`,
        {
            method: "POST",
            headers: headers
        })
        .then(function(res){ return res.json(); })
        .then(function(data){
            console.log(data);
            if (data.error)
            {
                $("#alert").text("Something went wrong!");
                $("#alert").addClass("alert-danger");
                $("#alert").removeClass("alert-hidden");
                clickedButton.text("Buy");
            } else {
                $("#alert").text("You have unlocked the item '" +items.find((a) => a._id == productId).title +"'.");
                $("#alert").addClass("alert-success");
                $("#alert").removeClass("alert-hidden");
                clickedButton.text("Already Unlocked");
                clickedButton.addClass("disabled");
                clickedButton.removeAttr("onclick");
            }
        }).catch((e) => {
            console.log(e)
            $("#alert").text("Something went wrong!");
            $("#alert").addClass("alert-danger");
            $("#alert").removeClass("alert-hidden");
        });
};
            
</script>