<%- contentFor('body') %><%- include('elements/navbar', {
    nav: {
        "items": [{"title": "Home", "href": "/"}, {"title": "Store", "active": true}, ((user.isAdmin) ? {"title": "Admin", "href": "/admin"} : {})],
        "login": true
    }
    }); %>

<div class="container my-5 page-content">
    <div class="alert alert-hidden" id="alert" role="alert">
    </div>
    <div>

        <div class="bg-pink bt-round">
            <h2 class="mb-0 py-4 px-4 page-title">Store</h2>
        </div>

        <div class="d-flex justify-content-center  mt-0 bg-light-dark px-1 py-2">
            <span>You have <%= user.kudosu.total + user.currency.bonus%> total kudosu and <%= user.kudosu.available + user.currency.bonus - user.currency.spent %> kudosu available.</span>
        </div>

        <div class="bg-dark bb-round px-1 py-2">
            <div class="products">
                <div class="controls">
                    
                </div>
                
                    <div class="products-container">
                    </div>

            </div>
        </div>
    </div>
</div>

<script src="/js/store/start.js" user_id="<%-user.userId %>"></script>